# Игнорирование папки __pycache__ и временных файлов
__pycache__/
*.pyc
*.pyo

# Игнорирование виртуального окружения
.venv/
env/
venv/

# Игнорирование системных и временных файлов
.DS_Store
desktop.ini
Thumbs.db

# Игнорирование других временных файлов и конфигураций
*.log
*.ini
requirements.txt
*.desktop.ini
*.проверить.py
.idea/
0.py
